---
layout: archive
title: Dojos
permalink: /dojos/
---

<div class="grid__wrapper">
  {% for page in site.pages %}
    {% if page.category == "dojos" %}
      {% if page.teaser %}
        {% capture teaser %}{{ page.teaser }}{% endcapture %}
      {% else %}
        {% assign teaser = site.teaser %}
      {% endif %}
      
      {% if page.id %}
        {% assign title = page.title | markdownify | remove: "<p>" | remove: "</p>" %}
      {% else %}
        {% assign title = page.title %}
      {% endif %}
      
      <div class="{{ include.type | default: "grid" }}__item">
        <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
          {% if page.link %}
            <a href="{{ page.link }}">
          {% else %}
            <a href="{{ page.url | absolute_url }}" rel="permalink">
          {% endif %}
              <div class="archive__item-teaser">
                <img src=
                  {% if teaser contains "://" %}
                    "{{ teaser }}"
                  {% else %}
                    "{{ teaser | absolute_url }}"
                  {% endif %}
                alt="">
              </div>
              <h2 class="archive__item-title" itemprop="headline">
              {{ title }}
            </a>
            {% if page.link %}
              <a href="{{ page.url | absolute_url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
            {% endif %}
          </h2>
          {% if page.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ page.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
        </article>
      </div>
    {% endif %}
  {% endfor %}
</div>
